# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# IDEs
.vscode/
.idea/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# AWS
.aws/
.aws-app-runner/
.aws-app-runner-credentials/